---
layout: default
title: Home
---

<div class="card my-2">
  <div class="card-body">
    <p class="mb-1">
      <strong>Last updated:</strong> {% include lastupdate.html %}
    </p>
    <p class="mb-1">
      <strong>Last daily dump:</strong> {% include lastdump.html %}
    </p>
    <p class="m-0"><strong>Regions found:</strong> {% include count.html %}</p>
  </div>
</div>

<div class="overflow-scroll">
  <table
    class="table table-sm table-hover"
    style="font-variant-numeric: tabular-nums"
  >
    <thead>
      <tr>
        <th scope="col">Region</th>
        <th scope="col">Issues</th>
        <th scope="col">Minor</th>
        <th scope="col">Major</th>
      </tr>
    </thead>
    <tbody>
      {% include detags.html %}
    </tbody>
  </table>
</div>
