---
layout: default
title: Home
---

<div class="card my-2">
  <div class="card-body">
    <p class="mb-1">
      <strong>Last updated:</strong> {% include lastupdate.html %}
    </p>
    <p class="mb-1">
      <strong>Last daily dump:</strong> {% include lastdump.html %}
    </p>
    <p class="mb-1"><strong>Regions found:</strong> {% include count.html %}</p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="highlight-closing-embassies"
      />
      <label class="form-check-label" for="highlight-closing-embassies">
        Highlight regions with closing embassies
      </label>
    </div>
    <div class="form-check mb-0">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="hide-non-closing-embassies"
      />
      <label class="form-check-label" for="hide-non-closing-embassies">
        Only show regions with closing embassies
      </label>
    </div>

    <div class="mt-2 d-flex flex-column flex-md-row gap-2 gap-md-3">
      <a
        href="_data/detags.csv"
        class="text-decoration-none d-inline-flex flex-row align-items-center gap-1"
        download
      >
        {% include icons/download.html %} Download CSV</a
      >
      <a
        href="_data/detags.json"
        class="text-decoration-none d-inline-flex flex-row align-items-center gap-1"
        download
      >
        {% include icons/download.html %} Download JSON</a
      >
      <a
        href="_data/detags.xlsx"
        class="text-decoration-none d-inline-flex flex-row align-items-center gap-1"
        download
      >
        {% include icons/download.html %} Download Excel Sheet</a
      >
    </div>
  </div>
</div>

<div class="overflow-scroll">
  <table
    class="table table-sm table-hover"
    style="font-variant-numeric: tabular-nums"
  >
    <thead>
      <tr>
        <th scope="col">Region</th>
        <th scope="col">Issues</th>
        <th scope="col">Minor</th>
        <th scope="col">Major</th>
      </tr>
    </thead>
    <tbody id="detags-tbody">
      {% include detags.html %}
    </tbody>
  </table>
</div>

<script>
  document
    .querySelector("#highlight-closing-embassies")
    .addEventListener("change", () => {
      const closingEmbassies = document.querySelectorAll(
        "tr[closing-embassies]"
      );
      closingEmbassies.forEach((region) => {
        region.classList.toggle("table-danger");
      });
    });

  document
    .querySelector("#hide-non-closing-embassies")
    .addEventListener("change", () => {
      const regions = document.querySelectorAll("#detags-tbody tr");
      regions.forEach((region) => {
        if (!region.hasAttribute("closing-embassies")) {
          region.classList.toggle("d-none");
        }
      });
    });

  document.querySelectorAll(".rlink").forEach((link) => {
    link.addEventListener("click", async (e) => {
      e.preventDefault();
      await navigator.clipboard.writeText(link.href);
      window.open(link.href, "_blank");
    });
  });
</script>
