---
layout: default
title: Home
---

<div class="card my-2">
  <div class="card-body">
    <p class="mb-1">
      <strong>Last updated:</strong> {% include lastupdate.html %}
    </p>
    <p class="mb-1">
      <strong>Last daily dump:</strong> {% include lastdump.html %}
    </p>
    <p class="m-0"><strong>Regions found:</strong> {% include count.html %}</p>
  </div>
</div>

<div class="card my-2">
  <div class="card-body">
    <a href="detags.csv" class="text-decoration-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        width="1em"
        height="1em"
      >
        <path
          fill-rule="evenodd"
          d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
      Download Data</a
    >
  </div>
</div>

<div class="overflow-scroll">
  <table
    class="table table-sm table-hover"
    style="font-variant-numeric: tabular-nums"
  >
    <thead>
      <tr>
        <th scope="col">Region</th>
        <th scope="col">Issues</th>
        <th scope="col">Minor</th>
        <th scope="col">Major</th>
      </tr>
    </thead>
    <tbody>
      {% include detags.html %}
    </tbody>
  </table>
</div>
