$headings-font-weight: 600;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

@import "bootstrap/scss/bootstrap";

.markdown-body {

  h1,
  .h1,
  h2,
  .h2 {
    padding-bottom: $headings-margin-bottom * 0.5;
    border-bottom: $border-width $border-style $border-color;
  }
}